@charset "utf-8";
/*-------------------------------------*/

body{
	background: linear-gradient(#A9E2F3, #0080FF);
	line-height: 0.5;
	font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
	margin: 10px;
	text-align: center;
}

#hedder {
	font-size: 3.0em;
	font-weight: bold;
	margin: 40px
}

#msg {
	font-size: 1.2em;
	font-weight: 600;
}

#item {
	margin: 20px
}
#item2 {
	margin-bottom: 10px
}

/*-------------------------------------*/
/* フォーム */
/*-------------------------------------*/

div#select-box select{
	width: 130px;
	height: 55px;
	font-size: 1.0em;
	font-weight: bold;
	padding: 10px 10px;
	border-coler: #FF8000;
	background-color: #FE9A2E;
	color: #FFF;
	border-style: none;
	border: solid 2px #FF8000;
	border-radius: 10px
}

select::-ms-expand {
    display: none;
}

option {
	background: ##FFBF00 url('Icon.GIF') no-repeat 4px center;
}

button#button1{
	width: 130px;
	height: 55px;
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 30px;
	background-color: #FF6699;
	color: #fff;
	border-style: none;
	border: solid 2px #CC6699;
	border-radius: 10px
}

/*-------------------------------------*/
/* マップ */
/*-------------------------------------*/

#map {
	width: 352px;
	height: 264px;
	border-style: none;
}
/*-------------------------------------*/
/* テーブル */
/*-------------------------------------*/

table {
	margin-left: auto;
	margin-right: auto;
	border-width: 1px;
	background: #FFF;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}
Th#th1{
	font-size: 1.0em;
	font-weight: medium;
	padding-right: 10px;
	padding-left: 10px;
	width: 10px;
	height: 40px;
	background-color: #2ECCFA;
	color: #FFF;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}
Th#th2{
	text-align: left;
	font-size: 1.0em;
	font-weight: medium;
	padding-right: 10px;
	padding-left: 10px;
	width: 280px;
	height: 40px;
	background-color: #2ECCFA;
	color: #FFF;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}

Td#td1 {
	font-size: 1.0em;
	font-weight: medium;
	padding-right: 10px;
	padding-left: 10px;
	width: 10px;
	height: 40px;
	background-color: #EFF5FB;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}

Td#td2 {
	font-size: 1.0em;
	font-weight: medium;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	width: 280px;
	height: 40px;
	background-color: #EFF5FB;
	border-color: #FFF;
	border-style: solid;
	border-width: medium;
}

/*-------------------------------------*/
/* フッター */
/*-------------------------------------*/

div#footer{
	text-align: center;
}

div#footer p#copyright{
	font-size: 0.8em;
	text-align: left;
	padding: 5px;
	color: black;
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif!important;
}

